<li id="ingredient-<%= ingredient.id%>">
    <%= button_to "X", { action: "destroy_ingredients",
      id: ingredient.id }, :class => "ingredient-delete-button",
      method: :delete,
      data: { confirm: "Are you sure?" },
      remote: true
    %><span> <%= ingredient.ingredient %></span><span></span>