<div class="review-display-grid">
	<div class="review-display-body">
		<span> <%= review.body %></span>
	</div>
	<div class="row">
		<div class="review-display-name">
			<h3>User: </h3>
			<span> <%=link_to review.user.username, controller: "users", action: "show", id: review.user.id %> </span>
		</div>
		<div>
			<h3>Rating: </h3>
			<span><%= review.rating %> </span>
		</div>
	</div>	
</div>