<main>
  <%= render partial: "img_header" %>
  <section>
    <article class="category_list_container recipe-edit-container">
      <header class="edit-header">
        <h2 class="new-recipe-header">Edit Recipe</h2>
        <div class="errors">
          <%= render partial: "error_handling", locals: { errors: @errors } %>
        </div>
      </header>
      <%= render partial: "recipe_form" %>
    </article>
  </section>
</main>
