<main class="landing-main-container form-format">
  <section>
    <%= render partial: "img_header" %>
  </section>  
  <section>
    <article class="category_list_container form-format">
      <header class="new-header-section">
        <h2 class="new-recipe-header">Add New Recipe</h2>
        <div class="errors">
          <%= render partial: "error_handling", locals: { errors: @errors } %>
        </div>
      </header>
      <%= render partial: "recipe_form" %>
    </article>
  </section>
</main>
