<div class="container-fluid">
  <h2>Welcome <%= @user.username.capitalize %></h2>
  <% if @user.recipes %>
    <p>Here are the recipes you have created:</p>
    <% @user.recipes.each do |recipe| %>
      <ul>
        <li><%= link_to recipe.recipe_name, recipe %></li>
      </ul>
    <% end %>
  <% end %>
</div>
