/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field_with_errors { display: inline; }

.header-img {
  z-index:-1;
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
}
.nav-color {
  border:none;
}
.nav-text{
  color:#333333 !important;
}
body{
  margin:0;
  font-family: 'Courgette', cursive;
}
/*revised*/
nav{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  z-index:2;
  width:100vw;
  height:75px;
  font-size:30px;
  background: linear-gradient(rgba(0,0,0,1) 40%, rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.4), rgba(0,0,0,0));
}
nav a{
  color:white;
}
nav ul{
  margin: 0;
  font-size:25px;
  display: inline-block;
}
nav li{
  display: inline-block;
}
.nav-header{
  flex:8;
  width:100vw;
  font-size: 25px;
}
.nav-header>a{
  font-size:40px;
  margin: 0 30px 0 0;
}
.nav-header li{
  margin:0 10px;
}
.logged-in,
.logged-out{
  text-align: right;
  padding-right: 50px;
  flex:1;
  margin: 20px 0 0 0;
  float: right;
  z-index: 6;
  position: absolute;
  right: 0px;
}
.nav-pages{
  flex:2;
  margin:0;
}
.landing-header-content{
position:fixed;
top:0;
left:0;
z-index: -1;
background-color: rgba(0, 0, 0, 0.7);
width: 100vw;
height: 200vh;
}
#drop-down-icon{
  color:white;
  margin: 30px 0 0 40px;
  display:none;
  font-size:30px;
  font-size:25px;
}
#drop-down-ul{
    display:none;
    flex-direction: column;
    background-color: black;
    padding: 50px 0 0 0;
    width: 100vw;
    margin-top: -35px;
    height: 0px;
    overflow: hidden;
    text-align: right;
}
#drop-down-ul li{
  padding: 5px 50px 20px 0;
}
#psp-logo{
  margin-left: 35px;
}
.nav-slide-down{
  display:flex !important;
  height:160px !important;
}

@media screen and (max-width: 725px) {
  .nav-header{
    display:none;
  }
  #drop-down-icon{
  color:white;
  display:initial;
  }

}

/**************************/
/*Media Queries*/
/**************************/

/*Index*/
@media screen and (max-width: 1060px) {
  .landing-maing-container{
    padding:0;
  }
  .login-forn-section {
    padding: 15vh 20% 0 !important;
  }
}
@media screen and (max-width: 990px) {
  .category_list_container{
    padding: 9vh 8% 0;
  }
  .recipe-edit-container{
    margin: 0px 5%;
  }
}
@media screen and (max-width: 950px) {
  .user-show-container{
    padding: 0px 5% !important;
  }
  .users-info-grid{
    padding: 9vh 5% 5% !important;
  }
}
@media screen and (max-width: 900px) {
  .menu-container{
    margin:3% 5%;
  }
  .remove-top{
    padding: 10vh 7% 20px !important;
  }
  .ingredient-display article{
    flex:1;
  }
  .remove-top{
    padding: 5vh 3% 20px;
  }
  .category_list_container {
    padding: 9vh 2% 0;
  }
  .nav-header>a {
    font-size:30px !important;
  }
  .logged-in,
  .logged-out {
    margin: 5px 8px 0 0 !important;
  }

}
@media screen and (max-width: 820px) {
  .new-ingredients-article{
    flex-direction:column;
  }
  .ingredients-form{
    width: 55%;
    margin: auto;
  }
  .new-user-form-section{
    padding: 15vh 15% 0 !important;
  }
  .recipe_link{
    font-size:30px !important;
  }
  .show-label{
    font-size: 30px !important;
  }
  .user-content{
    font-size:25px;
  }
  .users-info-grid header{
    font-size: 45px !important;
  }
  .users-info-grid h2{
    font-size:24px !important;
  }
}
@media screen and (min-width: 820px) {
  .add-ingredients-container{
    height: 47vh;
  }
}
@media screen and (max-width: 800px) {
  .logged-in,
  .logged-out {
    margin: 5px 8px 0 0 !important;
  }
  nav ul{
    padding:0;
  }
  .landing-main-container{
    padding: 0px 7%;
  }
  .show-label{
    font-size: 28px !important;
  }
  .category_list_container {
    padding: 9vh 2% 0;
  }
  .recipe-edit-container{
    padding: 9vh 2% 20px !important;
  }
  .show-grid-containter{
    padding: 9vh 5% 0 !important;
  }
}
@media screen and (max-width: 750px) {
  .menu-container{
    margin:3% 0%;
  }
  .user-show-container{
    padding: 0 2.5% !important;
  }
  .ingredients-container {
    margin: 0 5% 4vh !important;
  }
  .add-ingredients-container {
    margin: 0 5%;
  }
}
@media screen and (max-width: 720px) {
  .show-grid-containter{
    margin: 0px 5% 45px;
  }
  .recipe-show-gutter {
    margin: 0 5%;
  }
  .recipe-edit-container{
    margin: 0;
  }
  .user-show-container{
    padding: 0 !important;
  }
  .landing-main-container {
    padding: 0px 3%;
  }
}
@media screen and (max-width: 650px) {
  .landing-main-container{
    padding: 0 3%;
    display: flex;
    flex-direction: column;
  }
  .category-section{
    margin:0;
  }
  .show-title{
    font-size: 40px;
    line-height: 40px !important;
  }
  .recipe-show-header-info h3 {
    font-size: 30px;
  }
  .show-ingredients h3,
  .show-instructions h3{
    font-size: 30px !important;
  }
  .landing-main-container {
    padding: 0;
  }
}
@media screen and (max-width: 610px) {
  .ingredients-form{
    width: 200px;
    margin: auto;
  }
  .recipe-form{
    display:flex;
    padding-bottom: 5%;
    flex-direction:column;
  }
  .show-review-grid form {
    display: flex;
    flex-direction: column;
  }
  .review-submit-button input{
    float:left;
  }
  .users-info-grid{
    display: flex !important;
    flex-direction: column !important;
  }
  .stats{
    text-align:left !important;
  }
  .users-info-grid {
    padding: 9vh 20% 5% !important;
  }
  .user-show-recipes {
    padding: 5% 5% !important;
  }
  .user-recipe-title {
    font-size: 30px !important;
  }
  .ingredient-display{
    flex-direction:column;
  }
  .ingredient-display article{
    margin: 20px 0 10px 0;
  }
  .new-user-header{
    font-size:40px !important;
  }
}
@media screen and (max-width: 555px) {
  .menu-container{
    display:block;
    padding: 10% 0;
    text-align:center;
  }
  .menu-column article li{
    line-height: 30px;
  }
  .index-header-content{
    display:none;
  }
  .ingredient-header{
    font-size:40px !important;
  }
  .new-ingredients-article{
    font-size:25px;
  }
  .ingredients-added li{
    font-size:20px;
  }
  .show-grid-containter{
    margin: 0px 0% 45px;
  }
  .recipe-show-gutter {
    margin: 0 0%;
  }
  .new-user-form-section{
    margin: 0 5% !important;
  }
  .login-forn-section{
    margin:0 5% !important;
  }

  .users-info-grid {
    padding: 9vh 15% 5% !important;
  }
  .user-recipe-display{
    padding: 9vh 5% 5% !important;
  }
  .recipe-show-header-info p {
    font-size: 25px;
  }
  .show-form-button{
    padding: 0px 17px;
  }
}
@media screen and (max-width: 460px) {
  .users-info-grid{
    padding: 9vh 8% 5% !important;
  }
  .users-info-grid>h2{
    font-size:60px !important;
  }
  .users-info-grid header {
    font-size: 40px !important;
  }
  .recipe_link {
    font-size: 25px !important;
  }
  .show-recipe-stars{
    font-size: 20px !important;
  }
  .show-grid-containter {
    display: flex;
    flex-direction: column;
  }
  .category_list_container {
    padding: 10vh 15% 20px !important;
  }
  .show-title {
    line-height: 65px;
  }
  .remove-top{
    padding: 10vh 3% 20px !important;
  }
  .review-display-grid h3{
    font-size:25px;
  }
  .review-display-grid {
    font-size: 22px;
  }
  .errors{
    margin-right: 0;
  }
  .new-recipe-header {
    line-height: 40px;
  }
  .recipe-show-header-info{
    margin: 20px 0;
  }
}
@media screen and (max-width: 380px) {
   .landing-main-container{
    padding: 0;
  }
   .new-user-form-section{
    margin: 0 !important;
  }
  .login-forn-section{
    margin:0 !important;
  }
  .review-window{
    padding: 0 15px;
  }
  .review-h3 {
    font-size: 45px;
  }
  .show-review-grid form label {
    font-size: 35px;
  }
  .recipe-form input{
    width: 215px;
  }
  .recipe-form select{
    width: 215px;
  }
  .recipe-form-text-area{
    width: 215px;
  }
  .ingredients-container {
    margin: 0 0% 4vh !important;
  }
  .add-ingredients-container {
    margin: 0 0%;
  }
  .show-form-button{
    padding: 0px 10px;
    padding: 0px 10px;
  }
}















