/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field_with_errors { display: inline; }

.header-img {
  z-index:-1;
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
}
.nav-color {
  border:none;
}
.nav-text{
  color:#333333 !important;
}
body{
  margin:0;
  font-family: 'Courgette', cursive;
}
/*revised*/
nav{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  z-index:2;
  width:100vw;
  height:75px;
  font-size:30px;
  background: linear-gradient(rgba(0,0,0,1) 40%, rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.4), rgba(0,0,0,0));
}
nav a{
  color:white;
}
nav ul{
  margin: 0;
  font-size:25px;
  display: inline-block;
}
nav li{
  display: inline-block;
}
.nav-header{
  flex:8;
  width:100vw;
  font-size: 25px;
}
.nav-header>a{
  font-size:40px;
  margin: 0 30px 0 0;
}
.nav-header li{
  margin:0 10px;
}
.logged-in,
.logged-out{
  text-align: right;
  padding-right: 50px;
  flex:1;
  margin: 20px 0 0 0;
  float: right;
  z-index: 6;
  position: absolute;
  right: 0px;
}
.nav-pages{
  flex:2;
  margin:0;
}
.landing-header-content{
position:fixed;
top:0;
left:0;
z-index: -1;
background-color: rgba(0, 0, 0, 0.7);
width: 100vw;
height: 200vh;
}
#drop-down-icon{
  color:white;
  margin: 30px 0 0 40px;
  display:none;
  font-size:30px;
  font-size:25px;
}
#drop-down-ul{
    display:none;
    flex-direction: column;
    background-color: black;
    padding: 50px 0 0 0;
    width: 100vw;
    margin-top: -35px;
    height: 0px;
    overflow: hidden;
    text-align: right;
}
#drop-down-ul li{
  padding: 5px 50px 20px 0;
}
#psp-logo{
  margin-left: 35px;
}
.nav-slide-down{
  display:flex !important;
  height:160px !important;
}

@media screen and (max-width: 725px) {
  .nav-header{
    display:none;
  }
  #drop-down-icon{
  color:white;
  display:initial;
  }

}















