.category_list_container {
  background-color: rgba(203,188,151,0.9);
  border-radius: 5px;
  padding: 50px 30px 0;
}
.category_form_container{
  padding:0 10%;
  background-color: rgba(255,255,255,0.5);
}
.list-without-bullet {
  list-style-type:none;
  padding-left:15px;
}

.background {
  background-color: #A9BCC2;
}

.no-border {
  border:none;
}
.menu-container {
  margin: 3% auto;
  max-width:900px;
  padding:0 30px;
  width:90%
  ;

}
.menu-recipe{
  font-size:27px !important;
}
.recipe_spacing {
  margin-left:10%;
}
.form_header {
  font-size:150
}
.form_button {
  background-color:#667b7f;
  border-radius:5px;
  color:#333333;
  padding:0.5%;
  margin: 1% 0.5% 0.5% 0.5%;
}
.review-list{
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.section_title {
  font-size:200%;
  text-align:center;
}
/*Revised Style*/
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color:grey!important;
}
.category-diplay li a:hover{
  /*color:grey !important;*/
}
.recipe_link {
  font-size:30px;
  color:#333333;
}
/*Recipe index*/
.index-header-content{
  margin: 0 auto 60px;
  max-width:960px;
  padding:0 30px;

}
.index-header-content h2{
    
    color: white;
    font-size: 35px;
}
.recipe-index-rating{
  font-size: 17px;
}
.menu-container {
  background-color: #CBBC97;
  padding: 75px 30px;
  box-shadow: 5px 5px 24px rgba(0, 0, 0, .75);
  border-radius: 5px;
  display:flex;
}
.menu-column{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  text-align:left;
  margin:0;
  padding: 0 30px;
}
.menu-column article{
  font-size:125%;
}
.menu-column article li{
  line-height: 30px;
  padding: 20px 0 0 0;
  width: 200px;
}
.link_title {
  font-size:55px;
  text-align:left !important;
  color:#333333;
  line-height: 40px;
}
.course-wrapper{
  margin: auto;
  margin-bottom: 30px;
  margin-top:0;
  width:100%;
}
.course-wrapper header{
  margin-bottom:10px;
}

.landing-main-container {
  margin-top:130px;
  border-radius: 5px;
  /*padding: 0 30px;*/
}
.form-format{
margin:0;
height:100%;
border-radius: 0;
min-height:91vh;
}
/*New Recipe*/
.recipe-form{
  display: grid;
  height:350px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
}
.text-area-grid{
  grid-column:2;
  grid-row: 1 / span 2
}
.recipe-form-button{
   grid-column:1 / span 2;
  grid-row: 4;
  padding-top:10px;
}
.recipe-form-button input{
  margin-top:20px;
  margin:0;
  width:auto !important;
  height:45px !important;
  font-family: 'Courgette', cursive;
  border-color: #667b7f !important;
  padding: 5px 20px !important;
  font-size:25px !important;
}
.recipe-form-button input:hover{
  color:darkgrey;
}
.recipe-form select{
  background-color:white;
  width: 90%;
  height: 45px;
  border: 1px solid black;
  font-family: 'Courgette', cursive;
  font-size: 20px;
  padding:0 10px !important;
}
.recipe-form label{
  font-size: 25px;
  line-height: 35px;
  float: left;
  width:100%;
}
.recipe-form div{
  /*margin:auto;*/
}
.recipe-form input{
  width:calc(90% - 20px);
  border: 1px solid black;
  height: 40px;
  font-family: 'Courgette', cursive;
  font-size: 20px;
  border-radius: 5px;
  padding:0 10px;
}
.recipe-form-file{
  background-color: white;
  margin: auto;
  line-height: 27px;
  font-size: 20px !important;
  padding: 5px 4px 0px 4px;
}
.recipe-form-text-area {
  resize: none;
  height: 121px;
  font-family: 'Courgette', cursive;
  width: 90%;
  font-size: 20px;
  border-radius: 5px;
  padding:5px 10px;
}
.new-recipe-header{
  /*margin-bottom:0;*/
  font-size:40px;
  margin: 60px 0 30px 0;
}
.new-header-section{
  display:flex;
  justify-content:space-between;
}
.add-ingredient-header{
  display:flex;
}
.errors{
  margin-top: 6vh;
  font-size: 20px;
  color: red;
  height: 50px;max-width:200px;
  margin-right: 10%;
  overflow: scroll;
}
.error-div{
  font-size: 20px;
  color: red;
}
/*Recipe Edit*/
.recipe-edit-container{
  height: 91vh;
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}
.edit-header{
  display:flex;
  justify-content: space-between

}
/*Recipe Show*/
.show-grid-containter{
  display: grid;
  height:550px;
  max-width: 900px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  font-size:35px;
  margin: 0 auto 45px;
  padding: 35px 30px 0 30px;
}
.show-grid-containter header{
  grid-column: 1 / span 3;
  grid-row: 1;
}
.recipe-show-header-info h3{
  font-size:40px;
}
.recipe-show-header-info a{
  color:black;
}
.recipe-show-header-info a:hover{
 color:grey;
}
.show-grid-containter p,
.show-grid-containter h3,
.show-grid-containter ul{
  margin:0 0 5px;
  font-size:30px;
}
.recipe-show-gutter{
  margin: 0 auto;
  max-width: 900px;
  border-radius:0;
  padding-bottom: 5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recipe-show-image{
  /*max-width:90%;*/
  max-height:227px;
  border-radius:5px;
  height:100%;
  width:100%;
  object-fit: cover;
  font-size:12px;
}
.show-ingredients{
  grid-column: 3;
  grid-row: 2 / span 3;
}
#enter-ingredients{
  list-style:none;
}
.recipe-show-header-info div{
  line-height:25px;
}
.recipe-show-header-info p{
  font-size:20px;
  line-height: 35px;
}
.show-ingridients-scroll{
  overflow: scroll;
  height: 276px;
  font-size:25px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
  margin-top:5px !important;
  padding:0 15px;
}
.show-ingridients-scroll li{
  line-height:20px;
  margin: 10px 3px 10px 0;
}
.recipe-show-header-info div span{
  font-size:20px;
}
.show-instructions{
  grid-column: 1 / span 2;
  grid-row: 3;
  padding-top:20px;
}
.show-instructions p{
  font-size:20px;
  height:100px;
  overflow: scroll;
  background-color: rgba(255,255,255,0.3);
  margin-right: 20px;
  border-radius: 5px;
  padding: 10px 15px;
}
.show-title{
  font-size: 40px;
  margin: 60px 0 0 0;
  line-height: 70px;
}
.show-img{
  grid-column: 1;
  grid-row: 2;
  padding-right:20px;
}
.show-buttons{
  grid-column: 1 / span 2;
  grid-row: 4;
  /*padding: 20px 0;*/
  padding: 57px 0 0;
}
.show-form-button{
  font-size: 25px;
  background-color: #667b7f;
  border-radius: 5px;
  border: 1px solid #667b7f;
  color: #333333;
  padding: 2.5px 20px;
  margin: 3px;
}
.enter-review-section{
  display:flex;
}
/*show page reviews*/
.show-review-grid form{
  /*display: grid;*/
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  width:100%;
  margin:auto;
}
.recipe-ingredient-list-item{
  font-size: 0.6em !important;
}
.review-text-area{
  grid-column: 1 / span 2 ;
  grid-row: 1;
}
.show-review-grid form label{
  font-size:25px;
  line-height: 30px;
}
.review-text-area textarea{
  width: calc(100% - 25px);
  height:100px;
  resize:none;
  padding: 5px 10px;
  font-size:20px;
  border-radius: 5px;
  font-family: 'Courgette', cursive;
}
.show-review-grid form select{
  background-color:white;
  font-size:20px;
  margin: 0 0 0 15px;
}
.review-submit-button input{
  font-size: 25px !important;
  padding: 2.5px 20px;
  margin: 15px 0.5%;
  font-family: 'Courgette', cursive;
  float: right;
  border-color:#667b7f;
      margin: 3px;
}
.review-submit-button input:hover{
  color:grey;
}
.review-h3{
  font-size:30px;
  margin: 0 0 5px;
}
.no-posts-sign{
  font-size:25px;
  text-align:center;
}
.review-display-grid h3{
  display:inline-block;
  margin:0;
  font-size:25px;
}
.review-display-grid{
  font-size:20px;
  padding:15px 0;
}
.review-display-grid .row{
  display:flex;
  justify-content:space-between;
  margin: 15px 0;

}
.review-display-body{
  grid-column: 1 / span 2 ;
  grid-row: 1;
}
.review-display-name{
  grid-column: 2 ;
  grid-row: 2;
  text-align:right;
}
.review-window{
  overflow:scroll;
   max-height:400px;
   padding: 10px 30px;
   background-color: rgba(255,255,255,0.3);
   border-radius:5px;
}
.write-review{
  padding: 30px 0 0;
}
#review-error-display{
  font-size:20px;
  color:red;
  margin: 5% 0 0 12%;
}
/*Ingredients*/
.ingredients-container{
  margin: 0 auto 50px;
  background-color: rgba(203, 188, 151, 0.9);
  border-radius: 5px;
  padding: 13vh 30px 2vh;
  width: 90%;
  max-width: 900px;
  padding: 30px 30px 30px 30px;
}
.add-ingredients-container{
  margin: 0 auto;
  background-color: rgba(203, 188, 151, 0.9);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 50px 30px 30px 30px;
  width:90%;
  max-width:900px;
}
.ingredient-header{
  font-size:30px;
  margin: 0 0 25px 0;
}
.ingredient-display{
  display: flex;
  flex-direction:column;
  font-size: 40px;
  margin: 80px 0 0 0;
  line-height: 70px;
}
.ingredient-display header{
  flex:1;
  font-size: 25px;
  line-height:1.2;
}
.ingredient-display article{
  flex:1.5;
  font-size: 30px;
  margin: 30px 0 10px 0;
}
.ingredient-display article p{
  margin:0;
  font-size:20px;
  /*height: 100px;*/
  overflow: scroll;
  line-height: 20px;
}
.ingredient-display h1{
  margin: 0 0 20px 0;
  font-size:40px;
  line-height:45px;
}
.ingredient-display h2 {
  margin:0;
  line-height:30px;
  font-size:25px;
  margin-bottom:10px;
}
.new-ingredients-article {
  display:flex;
  font-size:25px;
}
.ingredients-added {
  flex:1;
  padding: 0 2.5% 0 0;
}
.ingredients-added h4{
  margin: 0 0 14px 0;
  /*text-align:center;*/
}
.ingredients-added ul{
  margin:0;
  height: 104px;
  overflow: scroll;
  font-size: 20px;
  line-height: 25px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255,255,255,0.3);
  border-radius:5px;
}
.ingredients-added form {
  display:inline-block;

}
.ingredients-added li{
  line-height: 22px;
  margin: 10px 0;
}
.ingredient-delete-button{
  background-color: red;
  border-color:transparent;
  padding:1px !important;
  border-radius: 3px;
  /*font-family: 'Courgette', cursive;*/
  line-height: 14px;
  font-size: 15px;
  margin-right: 5px;
}
.ingredients-form{
  flex:1;
  display:flex;
  flex-direction:column;
  padding: 0 0 2.5% 0;
}
.ingredients-form input[type="text"]{
  width: calc(100% - 20px);
  height: 40px;
  font-size: 25px;
  margin-top: 14px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Courgette', cursive;
  font-size: 20px;
  border-radius: 5px;
  padding: 0 10px;
}
.ingredient-form-button{
  font-size:25px;
  border: 1px solid black;
  font-family: 'Courgette', cursive;
  padding: 0 3% 0 1%;
  margin: 5% 0.5% 0.5% 0.5%;

  margin-top: 20px;
  width: auto !important;
  /*height: 45px !important;*/
  border-color: #667b7f !important;
  padding: 5px 20px !important;






}
/*Category show*/
.category-section{
  background-color: rgba(203, 188, 151, 0.9);
  height: 85vh;
  padding: 35px 30px 30px;
  margin: 0 auto;
  max-width:900px;
}
.category-header h2{
  font-size: 40px;
  margin: 0;
  padding-top: 80px;
}
.category-diplay{
  /*max-width: 675px;*/
  margin: auto;
}
.unbold{
  font-size:20px;
  font-weight: normal;
}
.recipe-top-sub-header{
  font-size:25px !important;
  font-weight: bold;
}
.category-diplay ul{
  padding:20px 30px 30px;
  max-height: 400px;
  overflow: scroll;
  list-style: none;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
}
.category-diplay h3{
  margin:0;
  display: inline-block;
}
.category-diplay li a{
  font-size:35px;
  color:black;
}
.category-diplay span{
  font-size:25px;
  float:right;
  padding:10px 0 0;
}








