<h1> Desserts </h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <% if recipe.category == 'Dessert' %>
       <li><%= link_to recipe.recipe_name, recipe_path(recipe.id) %></li>
      <% end %>
    <% end %>
  </ul>